<div class="well" align="center">
  <a class="btn-large btn-primary" href="/auth/facebook">
    <i class="icon-facebook-sign"></i> <b>Cadastre-se com o Facebook</b>
  </a>
  <hr>
  <br><h2>ou Cadastre-se</h2>
  <%= form_for @user do |f| %>
    <% if @user.errors.any? %>
      <div class="error_messages">
        <h2>Form is invalid</h2>
        <ul>
          <% for message in @user.errors.full_messages %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <p>
      <%= f.text_field :name, :placeholder => 'Nome' %>
    </p>
    <p>
      <%= f.text_field :email, :placeholder => 'E-mail' %>
    </p>
    <p>
      <%= f.password_field :password, :placeholder => 'Senha' %>
    </p>
    <%= f.submit :class => 'btn btn-inverse', :value => "Cadastrar" %>
  <% end %>
</div>