<h2>
<% if company.avatar_file_name %>
	<%= image_tag company.avatar.url(:thumb) %>
<% end %>
	<%= company.name %> 
	<% if current_user.is_following_company? company.id %>
		<%= link_to 'Deixar de seguir', unfollow_company_path(company), :class => 'btn btn-danger' %>
	<% else %>
		<%= link_to 'Seguir', follow_company_path(company), :class => 'btn btn-primary' %>
	<% end %>
</h2>
<ul>
<li>Atividade: <%= company.activity %></li>
<li>Setor: <%= company.sector.name %></li>
<li>Sub-Setor: <%= company.subsector.name %></li>
<li>Segmento de Mercado: <%= company.segment.name %></li>
<li>Segmento de Listagem: <%= company.listing_segment %></li>
<li>Valor de Mercado: <%= company.market_value %></li>
<li>Site: <%= link_to company.website, company.website %></li>
</ul>
