<%= link_to 'Editar empresa', edit_company_path(@company) %>
<%= link_to 'Deletar empresa', @company, :method => :delete, :confirm => 'Confirma?' %>

<% if current_user.is_following_company? @company.id %>
	<%= link_to 'Deixar de seguir', unfollow_company_path(@company), :class => 'btn btn-danger' %>
<% else %>
	<%= link_to 'Seguir', follow_company_path(@company), :class => 'btn btn-primary' %>
<% end %>

<h2><%= @company.name %></h2>

<h3>Comentários</h3>
<%= render :partial => 'create_comment', :locals => {:company => @company} %>

<%= render :partial => 'comments', :locals => {:comments => @comments, :company => @company} unless @comments.blank? %>