<%= javascript_include_tag 'comments' %>

<% if current_user && current_user.admin? %>
	<%= link_to 'Editar empresa', edit_company_path(@company) %>
	<%= link_to 'Deletar empresa', @company, :method => :delete, :confirm => 'Confirma?' %>
	<%= form_for @company, :html => { :multipart => true } do |form| %>
  	<%= form.file_field :avatar %>
  	<%= form.submit :value => "Salvar" %>
	<% end %>
<% end %>

<div class="page-header">
	<%= render :partial => 'company_info', :locals => {:company => @company} %>
</div>

<h3>Comentários</h3>
<%= render :partial => 'create_comment', :locals => {:company => @company} %>
<hr>

<div id="comments">
	<%= render :partial => 'comments_manager', :locals => {:comments => @comments, :company => @company} %>
</div>

<%= will_paginate @comments, :previous_label => "&nbsp; &laquo; Anterior", :next_label => "&nbsp; Próxima &raquo;" %>